.app {
  padding: 2rem;
}

.app h1 {
  margin-bottom: 1rem;
}

nav {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.navContainer {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: rgba(239, 238, 238, 0.138);
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(150px);
}

.icon {
  font-size: 30px;
  color: white;
}

.container h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.cloudImage {
  width: 200px;
  margin: auto;
}
.bannerImage {
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 1rem;
}

.bannerImage h1 {
  text-align: center;
}

.bannerImage p {
  text-align: center;
  margin-bottom: 2rem;
}

.weatherSection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.wind {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 17px;
}

.windIcon {
  font-size: inherit;
}

.hourlyForecast {
  /* border: 1px solid; */
  /* margin-top: 2rem; */
  /* position: absolute; */
  /* bottom: 130px;
  left: 0; */
  /* display: flex; */
}
.time {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cards {
  overflow-x: scroll;
  /* width: 100%; */
  display: flex;
  gap: 10px;
}

.card {
  min-width: 100px;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  border-radius: 10px;
  background-color: rgba(99, 97, 97, 0.245);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(3px);
}

/* CITY SECTION */
.searchCity {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchCity input {
  padding: 0.5rem;
  color: black;
  flex: 1;
}

.searchCity button {
  background-color: inherit;
  border: none;
  padding: none;
}
