.app {
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app h1 {
  margin-bottom: 1rem;
}

nav {
  position: absolute;
  bottom: 10px;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  gap: 2rem;
  background-color: rgba(239, 238, 238, 0.138);
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(150px);
}

.icon {
  font-size: 30px;
  color: white;
}
