* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: black;
  /* background: url("https://picsum.photos/1600/900") center/cover; */
  height: 100vh;
}

h1{
  color: white;
}